<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<script src="http://code.jquery.com/jquery.min.js"></script>

<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title th:text="포폴만들기"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="/css/select2.css" rel="stylesheet"/>
    <script src="/js/select2.js"></script>
    <script>
        $(document).ready(function () {
            $("#pls").select2();
            $("#dbs").select2();
            $("#frameworks").select2();
            $("#etcs").select2();
        });

    </script>


    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="/img/favicon.png" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate-css/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: Imperial
      Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->

<body>

<section id="hero">

    <div class="hero-container" style="vertical-align: top">
        <div style="width: 15%;float:left;margin-top: 20px;">
            <span style="text-align:left;margin-left: 10px;text-shadow: 0 0 10px black;font-size:20px;color:darkgreen;/* margin-top: 500px; */"><a href="/home">EZ portfolio</a></span>

        </div>
        <div style="width: 15%;float:right;margin-top: 20px;">
        <span style="margin-left: 10px;font-size:20px;color:darkgreen;"><div th:if="${session.currentUser ne null}">
                <a style="font-size: 20px" href="/naver/invalidate">Logout</a>
                <br>
                <a style="font-size: 20px;color:darkgreen;" href="/sample">show result</a>
        </div></span></div>

       <div class="container wow fadeInUp" style="margin-top: 100px;text-align:left;">
               <label for="pls">Choose PL:</label>

               <select id="pls">
                   <option value="python">python</option>
                   <option value="java">java</option>
                   <option value="cpp">C++</option>
                   <option value="c">C</option>
                   <option value="go">go</option>
                   <option value="js">javascript</option>
               </select>
               <button type="submit" class="plsubmitBtn">추가</button>
                <script>
                    $('.plsubmitBtn').click(function() {
                        var selected = $('#pls option:selected').html();
                        $.ajax({
                            type: "POST",
                            url: "/updatepl", // the method we are calling
                            data: {data:selected},

                            success: function (result) {
                                location.reload();

                            },
                            error: function (result) {
                                alert('Oh no :(');
                            }
                        });
                    });
                </script>

               <table width="100%" border="0" cellpadding="0" cellspacing="0">

                   <tr th:each="skill : ${pls}">
                       <td th:text="${skill}" align="left">

                       </td>
                       <td>
                           <form action="#" th:action="@{'/delete/pl/{skill}'(skill=${skill})}" th:method="delete" >
                               <input type="hidden" name="_method" value="delete" />
                               <button type="submit" id="deleteBtn">지우기</button>
                           </form>

                       </td>
                   </tr>


               </table>
           </div>
        <div class="container wow fadeInUp" style="margin-top: 100px;text-align:left;">
            <label for="dbs">Choose PL:</label>

            <select id="dbs">
                <option value="Oracle">Oracle</option>
                <option value="MySQL">MySQL</option>
                <option value="MongoDB">MongoDB</option>
                <option value="DynamoDB">DynamoDB</option>
                <option value="PostgreSQL">PostgreSQL</option>
                <option value="Elasticsearch">Elasticsearch</option>
            </select>
            <button type="submit" class="dbsubmitBtn">추가</button>
            <script>
                $('.dbsubmitBtn').click(function() {
                    var selected = $('#dbs option:selected').html();
                    $.ajax({
                        type: "POST",
                        url: "/updatedb", // the method we are calling
                        data: {data:selected},

                        success: function (result) {
                            location.reload();

                        },
                        error: function (result) {
                            alert('Oh no :(');
                        }
                    });
                });
            </script>

            <table width="100%" border="0" cellpadding="0" cellspacing="0">

                <tr th:each="skill : ${dbs}">
                    <td th:text="${skill}" align="left">

                    </td>
                    <td>
                        <form action="#" th:action="@{'/delete/db/{skill}'(skill=${skill})}" th:method="delete" >
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" id="deleteDB">지우기</button>
                        </form>

                    </td>
                </tr>


            </table>
        </div>
        <div class="container wow fadeInUp" style="margin-top: 100px;text-align:left;">
            <label for="frameworks">Choose PL:</label>
            <select id="frameworks">
                <option value="spring">Spring</option>
                <option value="springboot">Springboot</option>
                <option value="django">Django</option>
            </select>
            <button type="submit" class="frsubmitbtn">추가</button>
            <script>
                $('.frsubmitbtn').click(function() {
                    var selected = $('#frameworks option:selected').html();
                    $.ajax({
                        type: "POST",
                        url: "/updatefr", // the method we are calling
                        data: {data:selected},

                        success: function (result) {
                            location.reload();

                        },
                        error: function (result) {
                            alert('Oh no :(');
                        }
                    });
                });
            </script>

            <table width="100%" border="0" cellpadding="0" cellspacing="0">

                <tr th:each="skill : ${frs}">
                    <td th:text="${skill}" align="left">

                    </td>
                    <td>
                        <form action="#" th:action="@{'/delete/framework/{skill}'(skill=${skill})}" th:method="delete" >
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" id="deleteFrs">지우기</button>
                        </form>

                    </td>
                </tr>


            </table>
        </div>
        <div class="container wow fadeInUp" style="margin-top: 100px;text-align:left;">
            <label for="etcs">Choose PL:</label>
            <select id="etcs">
                <option value="spring">Spring</option>
                <option value="springboot">Springboot</option>
                <option value="django">Django</option>
            </select>
            <button type="submit" class="frsubmitbtn">추가</button>
            <script>
                $('.etcsubmitbtn').click(function() {
                    var selected = $('#etcs option:selected').html();
                    $.ajax({
                        type: "POST",
                        url: "/updateetc", // the method we are calling
                        data: {data:selected},

                        success: function (result) {
                            location.reload();

                        },
                        error: function (result) {
                            alert('Oh no :(');
                        }
                    });
                });
            </script>

            <table width="100%" border="0" cellpadding="0" cellspacing="0">

                <tr th:each="skill : ${etc}">
                    <td th:text="${skill}" align="left">

                    </td>
                    <td>
                        <form action="#" th:action="@{'/delete/etc/{skill}'(skill=${skill})}" th:method="delete" >
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" id="deleteEtc">지우기</button>
                        </form>

                    </td>
                </tr>


            </table>
        </div>
    </div>
</section>

</body>
<script>
    var add = function (select_obj){
        $("")

    };
</script>
</html>
</title>
</head>

</html>