<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    home!
    <div th:if="${session.currentUser ne null}">
        <h3>이 부분은 로그인한 사용자한테만 보임</h3>
        <pre th:text="${session.currentUser}"></pre>
        <a href="/naver/invalidate">로그아웃 (Invalidate Session)</a>
        <a th:href="${'/naver/getProfile?accessToken=' + session.currentAT}">Get User's Profile</a>
    </div>
    <form class="form-signin" action="/list" method="post">
        <label for="inputTitle" class="sr-only">Title</label>
        <input type="text" name="title" id="inputTitle" class="form-control" placeholder="Title" required="" />
        <label for="inputDetail" class="sr-only">Detail</label>
        <input type="text" name="detail" id="inputDetail" class="form-control" placeholder="Detail" required="" />
        <button class="btn btn-lg btn-primary btn-block" type="submit">쓰기</button>
    </form>
    <div>

    </div>
</body>
</html>