<!DOCTYPE html>
<html lang="ko" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="utf-8">
    <title th:text="${name}"></title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
    <meta property="og:title" content="">
    <meta property="og:image" content="">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">

    <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">

    <!-- Place your favicon.ico and apple-touch-icon.png in the template root directory -->
    <link href="/img/favicon.png" rel="shortcut icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
          rel="stylesheet">

    <!-- Bootstrap CSS File -->
    <link href="/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Libraries CSS Files -->
    <link href="/lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/lib/animate-css/animate.min.css" rel="stylesheet">

    <!-- Main Stylesheet File -->
    <link href="/css/style.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet">
    <!-- =======================================================
      Theme Name: Imperial
      Theme URL: https://bootstrapmade.com/imperial-free-onepage-bootstrap-theme/
      Author: BootstrapMade.com
      Author URL: https://bootstrapmade.com
    ======================================================= -->
</head>

<body>
<div id="preloader"></div>

<!--==========================
Hero Section
============================-->
<section id="hero">
    <div class="hero-container">
        <div class="wow fadeIn">

            <h2><span class="rotating" style="font-size:100px;color:darkgreen">이문석, Lee Moonseok</span></h2>
            <br><br>
            <h1>Portfolio</h1>
            <div class="actions">
                <a href="#about" class="btn-get-started">Look Around</a>
                <a href="https://github.com/moonseoklee" class="btn-services">Github</a>
            </div>
        </div>
    </div>
</section>

<!--==========================
Header Section
============================-->
<header id="header">
    <div class="container">

        <div id="logo" class="pull-left">
            <a href="#hero"><img src="/img/logo.png" alt="" title=""/></img></a>
            <!-- Uncomment below if you prefer to use a text image -->
            <!--<h1><a href="#hero">Header 1</a></h1>-->
        </div>

        <nav id="nav-menu-container">
            <ul class="nav-menu">
                <li class="menu-active"><a href="#hero" style="font-weight: bold">Home</a></li>
                <li><a href="#about">About Me</a></li>
                <li><a href="#skills">Skills</a></li>
                <li><a href="#portfolio">Projects</a></li>
                <li><a href="#team">Dev etc</a></li>

                <!--li class="menu-has-children"><a href="">Drop Down</a>
                    <ul>
                        <li><a href="#">Drop Down 1</a></li>
                        <li class="menu-has-children"><a href="#">Drop Down 2</a>
                            <ul>
                                <li><a href="#">Deep Drop Down 1</a></li>
                                <li><a href="#">Deep Drop Down 2</a></li>
                                <li><a href="#">Deep Drop Down 3</a></li>
                                <li><a href="#">Deep Drop Down 4</a></li>
                                <li><a href="#">Deep Drop Down 5</a></li>
                            </ul>
                        </li>
                        <li><a href="#">Drop Down 3</a></li>
                        <li><a href="#">Drop Down 4</a></li>
                        <li><a href="#">Drop Down 5</a></li>
                    </ul>
                </li-->
                <li><a href="#contact">Contact Me</a></li>
            </ul>
        </nav>
        <!-- #nav-menu-container -->
    </div>
</header>
<!-- #header -->

<!--==========================
About Section
============================-->
<section id="about">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">About Me</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">
                <div style="text-align: center" class="ns">신입 개발자입니다</div>
                </p>
            </div>
        </div>
    </div>
    <div class="container about-container wow fadeInUp">
        <div class="row">

            <div class="col-lg-6 about-img">
                <img src="/img/about-img.png" alt="">
            </div>

            <div class="col-md-6 about-content">
                <h2 class="about-title"><p class="ns"></p></h2>
                <p class="about-text" style="font-size:25px">
                    겸손하게 성장하고 있습니다.
                </p><br>
                <p class="about-text" style="font-size:20px;color:darkgray">
                    성장을 사이트에 꾸준히 기록하겠습니다.
                </p>

            </div>
        </div>
    </div>
</section>

<!--==========================
스킬 섹션
============================-->
<section id="skills">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Skills</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">
                <div style="text-align: center" class="ns">계속 늘어나고 있습니다</div>
                </p>
            </div>
        </div>

        <div class="col-md-2 about-content"><h2 class="about-title">Language</h2></div>
        <div class="row">
            <div class="col-md-2 service-item" th:each="skill : ${skills[0]}">

                <div class="service-icon"><img th:src="@{https://img.icons8.com/color/48/000000/{image}.png(image=${skill})}"></div>
                <h4 class="service-title" th:text="${skill}"><a href=""></a></h4>
            </div>


        </div>
        <div class="col-md-2 about-content"><h2 class="about-title">Framework</h2></div>
        <div class="row">

            <div class="col-md-2 service-item">
                <div class="service-icon"><img src="https://img.icons8.com/color/48/000000/nodejs.png"></div>
                <h4 class="service-title"><a href="">NodeJS</a></h4>
            </div>
            <div class="col-md-2 service-item">
                <div class="service-icon"><img src="https://img.icons8.com/color/48/000000/django.png"></div>
                <h4 class="service-title"><a href="">Django</a></h4>
            </div>
            <div class="col-md-3 service-item">
                <div class="service-icon"><img src="https://img.icons8.com/color/48/000000/spring-logo.png"></div>
                <h4 class="service-title"><a href="">Springboot</a></h4>
            </div>
        </div>

        <div class="col-md-2 about-content"><h2 class="about-title">Database</h2></div>
        <div class="row">
            <div class="col-md-2 service-item">
                <div class="service-icon"><img src="https://img.icons8.com/color/48/000000/mysql.png"></div>
                <h4 class="service-title"><a href="">MySQL</a></h4>
            </div>
            <div class="col-md-2 service-item">
                <div class="service-icon"><img src="/img/dynamo.png" width="48" height="48"></div>
                <h4 class="service-title"><a href="">Dynamo</a></h4>
            </div>
            <div class="col-md-2 service-item">
                <div class="service-icon"><img src="https://img.icons8.com/color/48/000000/mongodb.png"></div>
                <h4 class="service-title"><a href="">Mongo</a></h4>
            </div>
        </div>

        <div class="col-md-2 about-content"><h2 class="about-title">Etc</h2></div>
        <div class="row">
            <div class="col-md-2 service-item">
                <div class="service-icon"><img src="https://img.icons8.com/doodle/48/000000/github--v1.png"/></div>
                <h4 class="service-title"><a href="">Git</a></h4>
            </div>
            <div class="col-md-2 service-item">
                <div class="service-icon"><img src="/img/aws.png" width="65" height="48"></div>
                <h4 class="service-title"><a href="">AWS</a></h4>
            </div>

        </div>
    </div>
</section>


<section id="subscribe">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-8">
                <h3 class="subscribe-title">Download Word File</h3>
                <p class="subscribe-text">doc 타입의 자소서, resume</p>
            </div>
            <div class="col-md-2 subscribe-btn-container">
                <a class="subscribe-btn" href="resume.docx">resume</a>
            </div>
            <div class="col-md-2 subscribe-btn-container">
                <a class="subscribe-btn" href="자기소개서.docx">자소서</a>
            </div>
        </div>
    </div>
</section>

<!--==========================
Porfolio Section
============================-->
<section id="portfolio">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Projects</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">마우스를 올리면 설명이 나오고 클릭하면 git으로 이동합니다</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <a class="portfolio-item" style="background-image: url(static/img/portfolio-1.png);"
                   href="https://github.com/moonseoklee/kugrade">
                    <div class="details">
                        <h4>KUGrade</h4>
                        <span>Django</span>
                        <span>&nbsp;</span>
                        <span>고려대학교 포털 아이디로 로그인을 하면 전체 성적을 그래프로 보여줍니다</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="portfolio-item" style="background-image: url(static/img/portfolio-2.PNG);"
                   href="https://github.com/moonseoklee/bitPrice">
                    <div class="details">
                        <h4>Bitprice</h4>
                        <span>javascript webextension</span>
                        <span>&nbsp;</span>
                        <span>암호화폐 거래소 API에서 수집한 암호화폐별 가격을 보여줍니다</span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="portfolio-item" style="background-image: url(static/img/portfolio-3.PNG);"
                   href="https://github.com/moonseoklee/portfolio">
                    <div class="details">
                        <h4>Portfolio</h4>
                        <span>springboot bootstrap</span>
                        <span>&nbsp;</span>
                        <span>Springboot를 이용한 웹 포트폴리오. html 템플릿 저작권은 imperial-theme에게 있습니다. </span>
                    </div>
                </a>
            </div>

            <div class="col-md-3">
                <a class="portfolio-item" style="background-image: url(static/img/portfolio-4.png);" href="">
                    <div class="details">
                        <h4>인구 대비 범죄, 범죄율 시각화</h4>
                        <span>python, folium(python lib)</span>
                        <span>&nbsp;</span>
                        <span>공공데이터 포털의 데이터를 파싱해 시각화합니다</span>
                    </div>
                </a>
            </div>


        </div>
    </div>
</section>

<!--==========================
Testimonials Section
============================-->
<!--section id="testimonials">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Testimonials</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">Erdo lide, nora porodo filece, salvam esse se, quod concedimus ses haec dicturum fuisse</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="profile">
                    <div class="pic"><img src="img/client-1.jpg" alt=""></div>
                    <h4>Saul Goodman</h4>
                    <span>Lawless Inc</span>
                </div>
            </div>
            <div class="col-md-9">
                <div class="quote">
                    <b><img src="img/quote_sign_left.png" alt=""></b> Proin iaculis purus consequat sem cure digni ssim donec porttitora entum suscipit rhoncus. Accusantium quam, ultricies eget id, aliquam eget nibh et. Maecen aliquam, risus at semper. <small><img src="img/quote_sign_right.png" alt=""></small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9">
                <div class="quote">
                    <b><img src="img/quote_sign_left.png" alt=""></b> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis architecto beatae. <small><img src="img/quote_sign_right.png" alt=""></small>
                </div>
            </div>
            <div class="col-md-3">
                <div class="profile">
                    <div class="pic"><img src="img/client-2.jpg" alt=""></div>
                    <h4>Sara Wilsson</h4>
                    <span>Odeo Inc</span>
                </div>
            </div>
        </div>
    </div>
</section-->

<!--==========================
Team Section
============================-->
<section id="team">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Dev etc</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">
                <div style="text-align: center" class="ns">개발 관련 경험, 클릭하면 설명이 나와요</div>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><a href="#layer1" class="btn-example"><img
                            src="src/main/resources/static/img/boj.JPG" alt=""></a>
                        <div id="layer1" class="pop-layer">
                            <div class="pop-container">
                                <div class="pop-conts">
                                    <!--content //-->
                                    <p style="text-align: left;font-size:12px" class="ctxt mb20">백준 온라인 저지 풀이<br>
                                        프로그래밍 문제풀이 사이트에서<br>
                                        300문제 이상을 풀었습니다.<br><br>
                                        Used : Python,C++<br>
                                        More : <a href="https://www.acmicpc.net/user/winnyiee" title="Pixel perfect">백준
                                            solved list</a>
                                    </p>

                                    <div class="btn-r">
                                        <a href="#" class="btn-layerClose">Close</a>
                                    </div>
                                    <!--// content-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 style="color:black;">프로그래밍 문제풀이</h4>
                </div>
            </div>

            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><a href="#layer2" class="btn-example"><img
                            src="src/main/resources/static/img/programmer.png" alt=""></a>
                        <div id="layer2" class="pop-layer">
                            <div class="pop-container">
                                <div class="pop-conts">
                                    <!--content //-->
                                    <p style="text-align: left;font-size:12px" class="ctxt mb20">개발 인턴<br>
                                        암호화폐 관련 플랫폼 제공 스타트업 SOOHO에서<br>
                                        malicious한 암호화폐 주소를 수집하고 <br>
                                        DB or 파일 스토리지에 적재하는 자동화 툴을 개발했습니다.<br><br>
                                        Used : Node.js, S3, DynamoDB
                                    </p>

                                    <div class="btn-r">
                                        <a href="#" class="btn-layerClose">Close</a>
                                    </div>
                                    <!--// content-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 style="color:black;">인턴</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><a href="#layer3" class="btn-example"><img
                            src="src/main/resources/static/img/lab.png" alt="">
                    </a>
                        <div id="layer3" class="pop-layer">
                            <div class="pop-container">
                                <div class="pop-conts">
                                    <!--content //-->
                                    <p style="text-align: left ;font-size:12px" class="ctxt mb20">IoT 연구실 학부연구생<br>
                                        학과 IoT 연구실에서 학부연구생 생활을 했습니다.<br>
                                        카카오API를 이용한 v2t,t2v UI를 제작하고<br>
                                        각종 세미나에 참석하여 기술 동향을 배우며<br>
                                        GAN을 이용한 Img generation 등을 하였습니다.<br>
                                        Used : Python, Tensorflow, EC2
                                    </p>

                                    <div class="btn-r">
                                        <a href="#" class="btn-layerClose">Close</a>
                                    </div>
                                    <!--// content-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 style="color:black;">학부연구생</h4>
                </div>
            </div>
            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><a href="#layer4" class="btn-example"><img
                            src="src/main/resources/static/img/codeclub.png" width="128" alt="">
                    </a>
                        <div id="layer4" class="pop-layer">
                            <div class="pop-container">
                                <div class="pop-conts">
                                    <!--content //-->
                                    <p style="text-align: left ;font-size:12px" class="ctxt mb20">코드클럽 교육 봉사<br><br>
                                        codeclub이란 단체에서<br>
                                        교육 플랫폼 scratch를 이용해<br>
                                        초등생 대상으로 교육 봉사를 하였습니다.<br>

                                    </p>

                                    <div class="btn-r">
                                        <a href="#" class="btn-layerClose">Close</a>
                                    </div>
                                    <!--// content-->
                                </div>
                            </div>
                        </div>
                    </div>

                    <h4 style="color:black;">SW 교육 봉사</h4>
                </div>
            </div>
            <!--div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="img/team-3.jpg" alt=""></div>
                    <h4>William Anderson</h4>
                    <span>CTO</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="member">
                    <div class="pic"><img src="img/team-4.jpg" alt=""></div>
                    <h4>Amanda Jepson</h4>
                    <span>Accountant</span>
                    <div class="social">
                        <a href=""><i class="fa fa-twitter"></i></a>
                        <a href=""><i class="fa fa-facebook"></i></a>
                        <a href=""><i class="fa fa-google-plus"></i></a>
                        <a href=""><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div-->

        </div>
    </div>
</section>

<!--==========================
Contact Section
============================-->
<section id="contact">
    <div class="container wow fadeInUp">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-title">Contact Me</h3>
                <div class="section-title-divider"></div>
                <p class="section-description">
                <div style="text-align: center" class="ns">메일 아이콘을 눌러 메일을 보내세요!</div>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 col-md-push-2">
                <div class="info">
                    <div>
                        <i class="fa fa-map-marker"></i>
                        <p>Ilsan<br>Goyang City</p>
                    </div>

                    <div>
                        <i class="fa fa-envelope"></i>
                        <p>gwinnyiee@gmail.com</p>
                    </div>

                    <div>
                        <i class="fa fa-phone"></i>
                        <p>01064958290</p>
                    </div>

                </div>
            </div>

            <div class="col-md-5 col-md-push-2">
                <div class="form">
                    <!--div id="sendmessage">Your message has been sent. Thank you!</div-->

                    <div class="text-center">
                        <button type="submit" style="background-color:transparent"
                                onclick="location.href='mailto:gwinnyiee@gmail.com'"><img
                                src="./src/main/resources/static/img/gmail.png" alt=""><a
                                href="mailto:gwinnyiee@gmail.com"></a></button>
                    </div>


                </div>
            </div>

        </div>
    </div>
</section>

<!--==========================
Footer
============================-->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    &copy; Copyright <strong>Imperial Theme</strong>. All Rights Reserved
                </div>
                <div class="credits">
                    <!--
                      All the links in the footer should remain intact.
                      You can delete the links only if you purchased the pro version.
                      Licensing information: https://bootstrapmade.com/license/
                      Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/buy/?theme=Imperial
                    -->
                    Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- #footer -->

<a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

<!-- Required JavaScript Libraries -->
<script src="/lib/jquery/jquery.min.js"></script>
<script src="/lib/bootstrap/js/bootstrap.min.js"></script>
<script src="/lib/superfish/hoverIntent.js"></script>
<script src="/lib/superfish/superfish.min.js"></script>
<script src="/lib/morphext/morphext.min.js"></script>
<script src="/lib/wow/wow.min.js"></script>
<script src="/lib/stickyjs/sticky.js"></script>
<script src="/lib/easing/easing.js"></script>

<!-- Template Specisifc Custom Javascript File -->
<script src="/js/custom.js"></script>


</body>
© 2020 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
Pricing
API
Training
Blog
About
</title>
</head>
<body>

</body>
</html>